@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#home_body{
    background-image: url("https://akhonamj.github.io/ecommerce_images/images/Luxury-Living-Room.jpg");
    width: 1400px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text{
    font-size: 5em;
    font-weight: 500;
    color:white;
    text-align: center;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.638);

}



h1{
    text-align: center;
}

.navbar-custom{
    background-color:rgb(207, 207, 207);
}

.nav-link, .navbar-brand{
    color: black;
    color: black;
    font-weight: 600;
    font-size: larger;
   
}
footer{
    text-align: center;
}



footer{
	margin-top: 8em;
	margin-top: 8em;
	clear: left;
	left: 350px;
    background-color: aliceblue;

}

.about-text{
    background-color: black;
    width: 800px;
    text-align: center;
}

.about-h1, .team-h1{
    margin-top: 30px;
    margin-bottom: 30px;
}


.card-body{
    background-color: rgba(20, 20, 20, 0.864);
    color: rgba(255, 255, 255, 0.929);
}


